/* inline quotes */
/* original quote element */
[data-ddash=inline-quote] {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 900px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=inline-quote-main-quote],
[data-ddash=inline-quote-name] {
    display: inline-block;
    font-family: serif !important; /* beautify the text by making it serif */
    font-style: italic;
    color: #b0b0b0;
}
