/* large quotes */
/* container for the large quote */
[data-ddash=large-quote-container] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0; /* margin on top and bottom */
    padding: 0 1vw; /* padding on left and right, proportional to window width */
}
/* original quote element */
[data-ddash=large-quote] {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 700px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=large-quote-main-quote],
[data-ddash=large-quote-name] {
    display: block;
}
[data-ddash=large-quote-name] {
    font-size: 1.5em;
    margin-top: .7em;
    color: #b0b0b0;
}
[data-ddash=large-quote-main-quote] {
    font-size: 3em; /* make the text very large */
    font-family: serif !important;
    font-style: italic;
}
