/* switch */
[data-ddash=switch] {
    display: none;
}
/* actual visible switch */
[data-ddash=switch] + [data-ddash=visible-switch] {
    width: 84px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all .17s;
    position: relative;
    display: inline-block;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    background-color: #7de37d;
}
/* block inside switch */
[data-ddash=switch] + [data-ddash=visible-switch] > div {
    background-color: #cecece;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
    border-radius: 5px;
}
/* make switch transparent when not checked */
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch] {
    background-color: transparent !important; /* !important to overrule the inline styling */
}
/* check visible switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch] {
    border-color: rgba(255, 255, 255, .35);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch] > div {
    left: 50px;
    background-color: rgba(255, 255, 255, 1);
}
/* hover styles for switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover {
    border-color: rgba(255, 255, 255, .55);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(255, 255, 255, .86);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover {
    border-color: rgba(208, 208, 208, .7);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(208, 208, 208, .85);
}
