/* transparent button */
[data-ddash=transparent-button] {
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: transparent;
    border: .17em solid transparent;
    text-decoration: none;
    border-radius: 5px;
    color: #909090;
    font-size: .85em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
}
[data-ddash=transparent-button]:focus,
[data-ddash=transparent-button]:hover {
    text-decoration: underline;
}
