/* global styles for all ddash elements */
[data-ddash] {
    font-family: sans-serif; /* make all elements sans-serif by default */
}





/* [data-wdash=textbox] */
[data-ddash=textbox-wrapper] {
    display: inline-block;
    position: relative;
}
[data-ddash=textbox-wrapper] input[type=text] {
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
    padding: 11px 15px;
    font-size: 1.1em;
    transition: all .1s;
    color: #6f6f6f;
    font-family: sans-serif;
}
[data-ddash=textbox-wrapper]:hover input[type=text] {
    border-color: #c0c0c0;
}
[data-ddash=textbox-wrapper] input[type=text]:focus {
    border-color: #a0a0a0;
    color: black;
}
[data-ddash=textbox-wrapper] input[type=text]:focus + [data-ddash=textbox-placeholder] {
    color: #909090;
}
[data-ddash=textbox-wrapper]:hover [data-ddash=textbox-placeholder] {
    color: #b0b0b0;
}
[data-ddash=textbox-wrapper][data-ddash-placeholder-shown=false] [data-ddash=textbox-placeholder] {
    display: none;
}

[data-ddash=textbox-placeholder] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    font-size: 0.8em;
    letter-spacing: .3px;
    color: #c0c0c0;
    display: block;
}





/* large quotes */
/* container for the large quote */
[data-ddash=large-quote-container] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2em 0; /* margin on top and bottom */
    padding: 0 1vw; /* padding on left and right, proportional to window width */
}
/* original quote element */
[data-wdash=large-quote] {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 900px;
    color: grey; /* make text grey to make it stand out */
    font-size: 3em; /* make the text very large */
    font-style: italic;
    font-family: serif; /* beautify the text by making it serif */
    text-align: center;
}
/* add quote marks */
[data-wdash=large-quote]::before {
    content: "\“";
}
[data-wdash=large-quote]::after {
    content: "\”";
}
