/*

In this styling part only wdash is used (not ddash)
this is the style for when the JavaScript/jQuery is not fully executed yet

*/

/* button */
[data-wdash=button]:not([data-ddash=button]) {
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: #eee;
    color: transparent;
    border: .17em solid transparent;
    border-radius: 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
    font-family: sans-serif !important;
}










/* checkbox */
[data-wdash=checkbox]:not([data-ddash=checkbox]) {
    display: none;
}










/* switch */
[data-wdash=switch]:not([data-ddash=switch]) {
    /* display: none; */
}
[data-wdash=switch]:not([data-ddash=switch])::before {
    content: "";
    display: block;
    border-radius: 7px;
    width: 84px;
    height: 36px;
    box-sizing: border-box;
    background-color: transparent;
    border: 2px solid #d0d0d0;
    position: relative;
}










/* textbox */
[data-wdash=textbox]:not([data-ddash=textbox]) {
    display: inline-block;
    height: 48px;
    width: 255px;
    background-color: transparent;
    color: transparent;
    border: 0;
    padding: 0;
    margin: 2px;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
    background-color: white;
}
[data-wdash=textbox]:not([data-ddash=textbox]):disabled {
    background-color: #eee;
}
/*
    placeholders; these don't work on all browsers,
    but aren't not required anyway
*/
[data-wdash=textbox]:not([data-ddash=textbox])::-webkit-input-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox])::-moz-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox]):-ms-input-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox]):-moz-placeholder {
  color: transparent;
}











/* transparent button */
[data-wdash=transparent-button]:not([data-ddash=transparent-button]) {
    padding-left: 1.2em;
    padding-right: 1.2em;
    border: .17em solid transparent;
    text-decoration: none;
    border-radius: 5px;
    background-color: #eee;
    color: transparent;
    font-size: .85em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
}

















/*

In this styling part only data-ddash is used,
not data-wdash.
This is to only let the script decide which elements are valid for usage

*/

/* button */
[data-ddash=button] {
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: transparent;
    border: .17em solid rgba(255, 255, 255, 0);
    border-radius: 5px;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
}
[data-ddash=button]:focus,
[data-ddash=button]:hover {
    border-color: rgba(255, 255, 255, .35);
}











/* checkbox */
[data-ddash=checkbox] {
    display: none;
}
/* actual visible switch */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    transition: all .17s;
    position: relative;
    display: inline-block;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    background-color: #7de37d;
}
/* svg of the checkmark that is displayd when checked */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] > svg {
    width: 100%;
    height: 100%;
    transition: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
/* actual path of the checkmark */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] > svg path {
  width: 56px;
  height: 56px;
  display: block;
  stroke-width: 7px;
  stroke: transparent;
  transition: inherit;
}
/* make checkbox transparent when not checked */
[data-ddash=checkbox]:not(:checked) + [data-ddash=visible-checkbox] {
    background-color: transparent !important; /* !important to overrule inline styling */
}
/* check visible switch */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox] {
    border-color: rgba(255, 255, 255, .35);
}
/* svg of checkmark inside checkbox */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox] > svg path {
    stroke: rgba(255,255,255,1);
}
/* hover styles for switch */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox]:hover {
    border-color: rgba(255, 255, 255, .55);
}
[data-ddash=checkbox]:not(:checked) + [data-ddash=visible-checkbox]:hover {
    border-color: rgba(208, 208, 208, .7);
}
/* svg of checkmark inside checked checkbox */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox]:hover > svg path {
    stroke: rgba(255,255,255,.85);
}











/* inline quotes */
/* original quote element */
[data-ddash=inline-quote] {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 900px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=inline-quote-main-quote],
[data-ddash=inline-quote-name] {
    display: inline-block;
    font-family: serif !important; /* beautify the text by making it serif */
    font-style: italic;
    color: #b0b0b0;
}











/* large quotes */
/* container for the large quote */
[data-ddash=large-quote-container] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0; /* margin on top and bottom */
    padding: 0 1vw; /* padding on left and right, proportional to window width */
}
/* original quote element */
[data-ddash=large-quote] {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 700px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=large-quote-main-quote],
[data-ddash=large-quote-name] {
    display: block;
}
[data-ddash=large-quote-name] {
    font-size: 1.5em;
    margin-top: .7em;
    color: #b0b0b0;
}
[data-ddash=large-quote-main-quote] {
    font-size: 3em; /* make the text very large */
    font-family: serif !important;
    font-style: italic;
}











/* loading circle */
[data-ddash=loading-circle] {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden; /* hide overflow to prevent bugs from happening */
}
/* svg to draw loading circle on, this is the elements that spins */
[data-ddash=loading-circle] > svg {
    /* setting animation to element */
    -webkit-animation: loading-circle-rotate .7s linear infinite;
    animation: loading-circle-rotate .7s linear infinite;
    -webkit-transform-origin: center center;
    -ms-transform-origin: center center;
    transform-origin: center center;

    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;

}
/* the actual circle */
[data-ddash=loading-circle] > svg > circle {
    stroke-width: 5px;
    stroke-dasharray: 100,200;
    stroke-dashoffset: -100;
    stroke-linecap: round;
}
/* animations for the loading circles */
@-webkit-keyframes loading-circle-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading-circle-rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}











/* switch */
[data-ddash=switch] {
    display: none;
}
/* actual visible switch */
[data-ddash=switch] + [data-ddash=visible-switch] {
    width: 84px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all .17s;
    position: relative;
    display: inline-block;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    background-color: #7de37d;
}
/* block inside switch */
[data-ddash=switch] + [data-ddash=visible-switch] > div {
    background-color: #cecece;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
    border-radius: 5px;
}
/* make switch transparent when not checked */
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch] {
    background-color: transparent !important; /* !important to overrule the inline styling */
}
/* check visible switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch] {
    border-color: rgba(255, 255, 255, .35);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch] > div {
    left: 50px;
    background-color: rgba(255, 255, 255, 1);
}
/* hover styles for switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover {
    border-color: rgba(255, 255, 255, .55);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(255, 255, 255, .86);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover {
    border-color: rgba(208, 208, 208, .7);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(208, 208, 208, .85);
}











/* text */
[data-ddash=text] {
    font-size: 1.05em;
    margin: .15em;
    line-height: 164%;
}
[data-ddash=text] + [data-ddash=text] {
    margin-top: 1em;
}











/* textboxes */
[data-ddash=textbox-wrapper] {
    display: inline-block;
    margin: 2px;
    position: relative;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox] {
    border-radius: 4px;
    border: 2px solid #a0a0a0;
    box-sizing: border-box;
    outline: none;
    padding: 11px 15px;
    font-size: 1.1em;
    transition: all .1s;
    color: black;
    background-color: white;
}
[data-ddash=textbox-wrapper]:hover [data-ddash=textbox]:not(:disabled):not(:focus) {
    border-color: #c0c0c0 !important; /* !important to override the inline styling */
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:not(:focus) {
    border-color: #d0d0d0 !important; /* !important to override the inline styling */
    color: #6f6f6f;
}
/* when the textbox is disabled */
[data-ddash=textbox-wrapper] [data-ddash=textbox]:disabled {
    background-color: #eee;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:disabled + [data-ddash=textbox-placeholder] > div {
    color: #c3c3c3;
    cursor: default;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:focus + [data-ddash=textbox-placeholder] > div {
    color: #909090;
}
[data-ddash=textbox-wrapper]:hover [data-ddash=textbox]:not(:disabled):not(:focus) + [data-ddash=textbox-placeholder] > div {
    color: #b0b0b0;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:not(:focus) + [data-ddash=textbox-second-border] {
    background-color: transparent !important;
}
[data-ddash=textbox-wrapper][data-ddash-placeholder-shown=false] [data-ddash=textbox-placeholder] {
    display: none;
}
/* second border */
[data-ddash=textbox-second-border] {
    position: absolute;
    top: -3px;
    left: -3px;
    bottom: -3px;
    right: -3px;
    background-color: #ddd;
    z-index: -1;
    border-radius: 7px;
    box-sizing: border-box;
    opacity: .2;
    transition: all .1s;
}
/* placeholder */
[data-ddash=textbox-placeholder] {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: text;
    transition: all .1s;
}
[data-ddash=textbox-placeholder] > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 19px;
    font-size: 0.8em;
    letter-spacing: .3px;
    color: #c0c0c0;
    display: block;
    transition: all .1s;
}











/* titles */
/* main title */
h1[data-ddash=title] {
    font-size: 2.7em;
    margin: .5em 0 .5em 0;
    padding: .2em 0;
    text-align: center;
    background-color: #e9e9e9;
    color: #808080;
    border-radius: .1em;
}
/* subtitles */
h2[data-ddash=title] {
    font-size: 1.5em;
    margin: 1.3em 0 .6em 0;
}
/* smaller title */
h3[data-ddash=title] {
    font-size: 1.25em;
    margin: 1.1em 0 .6em 0;
}
/* h4 title */
h4[data-ddash=title] {
    font-size: 1.11em;
    margin: .95em 0 .6em 0;
}
/* h5 title */
h5[data-ddash=title] {
    font-size: 1em;
    margin: .95em 0 .6em 0;
}
/* h6 title */
h6[data-ddash=title] {
    font-size: 1em;
    margin: .95em 0 .6em 0;
    color: grey;
}











/* transparent button */
[data-ddash=transparent-button] {
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: transparent;
    border: .17em solid transparent;
    text-decoration: none;
    border-radius: 5px;
    color: #909090;
    font-size: .85em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
}
[data-ddash=transparent-button]:focus,
[data-ddash=transparent-button]:hover {
    text-decoration: underline;
}














/*

defaults for elements that are not wdash or ddash

*/
body {
    background-color: #f9f9f9;
}











/* global styles for all ddash elements */
[data-ddash] {
    /* make all elements sans-serif by default
       this is just in case the javascript somehow fails */
    font-family: sans-serif;
}
