/*

In this styling part only wdash is used (not ddash)
this is the style for when the js is not fully executed yet

*/

/* textbox */
[data-wdash=textbox]:not([data-ddash=textbox]) {
    display: inline-block;
    height: 48px;
    width: 255px;
    background-color: #eee;
    color: transparent;
    border: 0;
    padding: 0;
    margin: 2px;
}










/*

In this styling part only data-ddash is used,
not data-wdash.
This is to only let the script decide which elements are valid for usage

*/

/* global styles for all ddash elements */
[data-ddash] {
    font-family: sans-serif; /* make all elements sans-serif by default */
}





/* textboxes */
[data-ddash=textbox-wrapper] {
    display: inline-block;
    margin: 2px;
    position: relative;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox] {
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
    padding: 11px 15px;
    font-size: 1.1em;
    transition: all .1s;
    color: #6f6f6f;
    font-family: sans-serif;
}
[data-ddash=textbox-wrapper]:hover [data-ddash=textbox]:not(:disabled):not(:focus) {
    border-color: #c0c0c0;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:focus {
    border-color: #a0a0a0;
    color: black;
}
/* when the textbox is disabled */
[data-ddash=textbox-wrapper] [data-ddash=textbox]:disabled {
    background-color: #eee;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:disabled + [data-ddash=textbox-placeholder] {
    color: #c3c3c3;
    cursor: default;
}
[data-ddash=textbox-wrapper] [data-ddash=textbox]:focus + [data-ddash=textbox-placeholder] {
    color: #909090;
}
[data-ddash=textbox-wrapper]:hover [data-ddash=textbox]:not(:disabled):not(:focus) + [data-ddash=textbox-placeholder] {
    color: #b0b0b0;
}
[data-ddash=textbox-wrapper][data-ddash-placeholder-shown=false] [data-ddash=textbox-placeholder] {
    display: none;
}
/* placeholder */
[data-ddash=textbox-placeholder] {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 17px;
    font-size: 0.8em;
    letter-spacing: .3px;
    color: #c0c0c0;
    display: block;
    cursor: text;
}










/* large quotes */
/* container for the large quote */
[data-ddash=large-quote-container] {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 3em 0; /* margin on top and bottom */
    padding: 0 1vw; /* padding on left and right, proportional to window width */
}
/* original quote element */
[data-ddash=large-quote] {
    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 700px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=large-quote-main-quote],
[data-ddash=large-quote-name] {
    display: block;
}
[data-ddash=large-quote-name] {
    font-size: 1.5em;
    margin-top: .7em;
    color: #b0b0b0;
}
[data-ddash=large-quote-main-quote] {
    font-size: 3em; /* make the text very large */
    font-family: serif !important;
    font-style: italic;
}










/* inline quotes */
/* original quote element */
[data-ddash=inline-quote] {
    display: inline-block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 900px;
    color: #808080; /* make text grey to make it stand out */
    text-align: center;
}
[data-ddash=inline-quote-main-quote],
[data-ddash=inline-quote-name] {
    display: inline-block;
    font-family: serif !important; /* beautify the text by making it serif */
    font-style: italic;
    color: #b0b0b0;
}










/* checkbox */
[data-ddash=switch] {
    display: none;
}
/* actual visible switch */
[data-ddash=switch] + [data-ddash=visible-switch] {
    width: 84px;
    height: 36px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all .17s;
    position: relative;
    display: inline-block;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    background-color: #7de37d;
}
/* block inside switch */
[data-ddash=switch] + [data-ddash=visible-switch] > div {
    background-color: #cecece;
    height: 24px;
    width: 24px;
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%);
    transition: inherit;
    border-radius: 5px;
}
/* make switch transparent when not checked */
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch] {
    background-color: transparent !important; /* !important to overrule the inline styling */
}
/* check visible switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch] {
    border-color: rgba(255, 255, 255, .35);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch] > div {
    left: 50px;
    background-color: rgba(255, 255, 255, 1);
}
/* hover styles for switch */
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover {
    border-color: rgba(255, 255, 255, .55);
}
[data-ddash=switch]:checked + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(255, 255, 255, .86);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover {
    border-color: rgba(208, 208, 208, .7);
}
[data-ddash=switch]:not(:checked) + [data-ddash=visible-switch]:hover > div {
    background-color: rgba(208, 208, 208, .85);
}










/* checkbox */
[data-ddash=checkbox] {
    display: none;
}
/* actual visible switch */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] {
    width: 15px;
    height: 15px;
    border-radius: 7px;
    transition: all .17s;
    position: relative;
    display: inline-block;
    border: 2px solid #d0d0d0;
    cursor: pointer;
    background-color: #7de37d;
}
/* svg of the checkmark that is displayd when checked */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] > svg {
    width: 100%;
    height: 100%;
    transition: inherit;
    position: absolute;
    top: 0;
    left: 0;
}
/* actual path of the checkmark */
[data-ddash=checkbox] + [data-ddash=visible-checkbox] > svg path {
  width: 56px;
  height: 56px;
  display: block;
  stroke-width: 7px;
  stroke: transparent;
  transition: inherit;
}
/* make checkbox transparent when not checked */
[data-ddash=checkbox]:not(:checked) + [data-ddash=visible-checkbox] {
    background-color: transparent !important; /* !important to overrule inline styling */
}
/* check visible switch */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox] {
    border-color: rgba(255, 255, 255, .35);
}
/* svg of checkmark inside checkbox */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox] > svg path {
    stroke: rgba(255,255,255,1);
}
/* hover styles for switch */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox]:hover {
    border-color: rgba(255, 255, 255, .55);
}
[data-ddash=checkbox]:not(:checked) + [data-ddash=visible-checkbox]:hover {
    border-color: rgba(208, 208, 208, .7);
}
/* svg of checkmark inside checked checkbox */
[data-ddash=checkbox]:checked + [data-ddash=visible-checkbox]:hover > svg path {
    stroke: rgba(255,255,255,.85);
}










/* button */
[data-ddash=button] {
    padding: .62em 1.4em;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, .35);
    border-radius: 7px;
    color: white;
    font-size: 1.05em;
    cursor: pointer;
    transition: border .17s;
    outline: none;
}
[data-ddash=button]:focus,
[data-ddash=button]:hover {
    border-color: rgba(255, 255, 255, .55);
}
