/* button */
[data-wdash=button]:not([data-ddash=button]) {
    padding-left: 1.2em;
    padding-right: 1.2em;
    background-color: #eee;
    color: transparent;
    border: .17em solid transparent;
    border-radius: 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: border .17s, color .17s;
    outline: none;
    box-sizing: border-box;
    height: 2.6em;
    font-family: sans-serif !important;
}
