/* textbox */
[data-wdash=textbox]:not([data-ddash=textbox]) {
    display: inline-block;
    height: 48px;
    width: 255px;
    background-color: transparent;
    color: transparent;
    border: 0;
    padding: 0;
    margin: 2px;
    border-radius: 4px;
    border: 2px solid #d0d0d0;
    box-sizing: border-box;
    outline: none;
    background-color: white;
}
[data-wdash=textbox]:not([data-ddash=textbox]):disabled {
    background-color: #eee;
}
/*
    placeholders; these don't work on all browsers,
    but aren't not required anyway
*/
[data-wdash=textbox]:not([data-ddash=textbox])::-webkit-input-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox])::-moz-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox]):-ms-input-placeholder {
  color: transparent;
}
[data-wdash=textbox]:not([data-ddash=textbox]):-moz-placeholder {
  color: transparent;
}
